<p-toast />

<div class="card flex justify-center">
  <h1>{{ isEditing ? 'Kitap Düzenle' : 'Kitap Ekle' }}</h1>

  <div class="flex flex-col gap-4">
    <form [formGroup]="bookEditForm" (ngSubmit)="saveBook()">
      <!-- Kitap Adı -->
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-book"></i>
        </p-inputgroup-addon>

        <p-floatlabel variant="on">
          <input pInputText id="on_label" formControlName="ad" />
          <label for="on_label">Kitap Adı</label>
        </p-floatlabel>
      </p-inputgroup>

      @if (bookEditForm.get('ad').invalid && bookEditForm.get('ad').touched) {
      <p-message severity="error" variant="simple" size="small">Kitap adı zorunludur.</p-message>
      }

      <!-- Yayınevi -->
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-book"></i>
        </p-inputgroup-addon>

        <p-floatlabel variant="on">
          <input pInputText id="on_label" formControlName="yayinevi" />
          <label for="on_label">Yayınevi</label>
        </p-floatlabel>
      </p-inputgroup>

      @if (bookEditForm.get('yayinevi').invalid && bookEditForm.get('yayinevi').touched) {
      <p-message severity="error" variant="simple" size="small">Yayınevi zorunludur.</p-message>
      }

      <div class="p-field" style="padding-top: 20px">
        <button pButton type="submit" icon="pi pi-save" [disabled]="bookEditForm.invalid">
          {{ isEditing ? 'Kitap Düzenle' : 'Kitap Ekle' }}
        </button>
      </div>
    </form>
  </div>
</div>
